*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/src/androidTest/java/mht/com/architecturecomponent/ExampleInstrumentedTest.java
app/src/androidTest/java/mht/com/architecturecomponent/ExampleInstrumentedTest.java
app/src/test/java/mht/com/architecturecomponent/ExampleUnitTest.java
app/src/androidTest/java/mht/com/architecturecomponent/ExampleInstrumentedTest.java
